---

# Section with configuration for connecting to the pve service
pve_host: 'xxx.xxx.xxx.xxx'
pve_user: 'user@pam'
pve_token_id: 'user_api'
pve_token_secret: 'xxxxxxx-xxxxxx-xxxxx-xxxxx-xxxxxxx'

# Section with configuration VM
pve_node: 'pve_name_node'
vm_name: 'vm_name'
vm_cpu_type: 'Westmere'
vm_sockets: '2'
vm_core: '2'
vm_ram: '2048'
vm_network_bridge: 'vmbr1'
vm_description: 'This VM Deploy use Ansible'

# Section with configuration User data for Cloud-Init configurations
vm_domain: 'local.corp'
vm_ipconfig: 'dhcp'
vm_user_name: 'user'
vm_user_pass: 'p@ssw0rd'
vm_user_ssh_key: ''

# Section with configuration internal and external Storage
ext_storage: '/mnt/pve/nfs/template/iso'
int_storage: 'local-zfs'
img_name: 'debian-11-generic-amd64.qcow2'
img_url: 'https://cloud.debian.org/images/cloud/bullseye/latest/debian-11-generic-amd64.qcow2'